#blog-container {
    display: grid;
    grid-gap: 20px;
    }
    
    .post-card {
    display: grid;
    grid-template-rows: 200px 120px 30px auto 70px;
        background-color: #fafafa;
    }
    
    .cover_image {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    
    .blog_title {
    display: grid;
        margin: 0;
    padding: 15px;
        align-self: center;
        font-family: 'Playfair Display', sans-serif;
    }
    
    .reactions {
        padding-left: 10px;
    }
    
    .reactions i {
        padding: 0 5px;
    }
    
    .blog_description {
    margin: 0;
    padding: 10px 15px;
        font-family: 'Noto Serif JP', sans-serif;
    }
    
    .footer {
    display: grid;
    padding-left: 10px;
        align-content: center;
    background-color: #000;
    }
    
    .footer a {
        padding-left: 10px;
        text-decoration: none;
        font-family: 'Noto Serif JP', sans-serif;
        color: #fafafa;
    }
    
    .footer a:hover {
        color: turquoise;
    }
    
    /* MEDIA QUERIES */
    
    /* For devices 576px and below, e.g. small smartphones */
    
    @media (max-width: 576px) {
        html {
            font-size: 14px;
        }
    
        p {
            line-height: 1.9286em;
        }
    
        #blog-container {
            grid-template-columns: 280px;
        }
    
        .post-card {
            grid-template-rows: 200px 80px 20px auto 60px;
        }
    }
    
    /* For devices 576px and up, e.g. large smartphones*/
    
    @media (min-width: 576px) {
        html {
            font-size: 16px;
        }
    
        p {
            line-height: 1.6875em; 
        }
    
        #blog-container {
            grid-template-columns: 260px 260px;
        }
    }
    
    /* For devices 992px and up, e.g. laptops or desktops */
    
    @media (min-width: 992px) {
        html {
            font-size: 18px;
        }
    
        p {
            line-height: 1.5em;
        }
    
        #blog-container {
            grid-template-columns: 280px 280px 280px;
        }
    }